.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-background-color);
  text-align: center;

  &__logo {
    display: inline-block;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  &__socials-link {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.address__link {
  display: inline-block;
  line-height: 1.714;

  color: var(--light-address-link-color);

  &.light-theme {
    color: var(--light-theme-color);
  }
}

.call-to-action {
  display: block;
  margin-bottom: 20px;
  color: var(--light-theme-color);
  text-transform: uppercase;
}

.footer__form-field {
  @include shape(450px, 50px);
  padding-left: 16px;
  margin-bottom: 20px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: var(--light-theme-color);

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer__btn-icon {
  margin-left: 10px;
}

@media screen and (max-width: 479px) {
  .footer__form-field {
    @include shape(300px, 50px);
  }
}

@media screen and (max-width: 767px) {
  .address__item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &:last-child {
      margin-bottom: 60px;
    }
  }

  .footer {
    &__socials {
      margin-bottom: 60px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    &__info-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__contacts {
      margin-right: 165px;
      margin-bottom: 60px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;

    &__info-container {
      display: flex;
      justify-content: space-between;
    }

    &__socials {
      padding-top: 10px;
    }
  }

  .address__item {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }

  .footer__form-wrapper {
    padding-top: 10px;
  }

  .footer__form {
    display: flex;
  }

  .footer__form-field {
    @include shape(358px, 50px);
    padding-left: 16px;
    margin-right: 12px;
  }

  .footer__form .btn {
    margin-top: 0;
    margin-bottom: 0;
  }
}
