.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}

.nav__link {
  position: relative;
  display: inline-block;
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);

  transition: color 250ms var(--timing-function);

  @media screen and (max-width: 767px) {
    font-size: 18px;
    line-height: 1.166;
  }

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
    scroll-behavior: smooth;
  }

  &.current {
    color: var(--accent-color);
    &:after {
      content: "";
      position: absolute;
      bottom: -8px;
      left: 0;

      @include shape(100%, 4px);
      border-radius: 2px;

      background-color: var(--accent-color);
    }
  }
}

.contact-info__link {
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.166;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);

  transition: color 250ms var(--timing-function);

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.142;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
    scroll-behavior: smooth;
  }
}

.contact-info__icon {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .nav {
    padding: 60px 0;
  }

  .nav__item:not(:last-child) {
    margin-bottom: 40px;
  }

  .contact-info {
    margin-bottom: 60px;
  }

  .contact-info__item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
  }

  .nav__list {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  .nav__item + .nav__item {
    margin-left: 50px;
  }

  .nav__link {
    padding-top: 32px;
    padding-bottom: 32px;

    &.current::after {
      content: "";
      bottom: -1px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav__list {
    margin-left: 88px;
    margin-right: 80px;
  }
  .contact-info__icon {
    margin-right: 8px;
  }

  .contact-info__link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-info__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .nav__list {
    margin-right: 305px;
  }

  .contact-info__list {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  .contact-info__item + .contact-info__item {
    margin-left: 30px;
  }

  .contact-info__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    line-height: 1.142;
  }
}
