.scope.section {
  padding-top: 0;
}

.scope__list {
  display: flex;
  justify-content: space-between;
}

.scope__item {
  position: relative;
}

.scope__header {
  position: absolute;
  bottom: 0;

  display: block;
  text-align: center;
  width: 100%;
  padding: 27px 0;

  @include font(14px, 700, 1.142);
  color: var(--light-theme-color);
  background-color: rgba(47, 48, 58, 0.8);
}
