body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;

  background-color: #ffffff;
  color: var(--primary-text-color);
}

ul {
  list-style: none;
}

a {
  font-style: normal;
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}
