:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --light-theme-color: #ffffff;
  --dark-logo-text-color: #000000;
  --light-bakground-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --light-address-link-color: rgba(255, 255, 255, 0.6);
  --hero-bg-color: #c4c4c4;
  --socials-icon-light-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
